# Local / generated
node_modules/
.kotlin/
*.zip
*.apk
*.aab
*.log

# Kotlin / IDE generated logs
.kotlin/errors/

# Android build output
build/
app/build/
/build

# Local IDE
.idea/workspace.xml
.idea/deploymentTargetSelector.xml
.idea/appInsightsSettings.xml
.idea/appInsightsSettings.xml